* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #FADFB0;
    color: papayawhip;
}

h2 {
    margin-bottom: 5px;
}

/* Container */

.container {
    width: 100%;
    background-color: salmon;
    margin: auto;
}


/* Header */

.header {
    
    width: 100%;
    padding: 25px;
    
    
}



/* Navigation */

.nav {
    width: 100%;
    padding: 20px 0px;
    
  
    
    border: 1px solid salmon;
    background-color: #FAD099;
}



.nav ul {
    list-style-type: none;
    padding: 0;
    
    
    
}


.nav ul li {
    display: inline-block;
    margin-left: 15px;
        
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
    color:salmon;

}


.nav ul li a:hover {
    background-color: #FFA07A;
    color: #FADFB0;
    
}





/*  Main Content */

.main {
    width:100%;
    background-color: #FFA07A;
    
    
}

.main .aside {
    width: 25%;
    height: 375px;
    float:left;
    padding: 25px;
    
}

.main .section {
    width: 70%;
    padding: 15px;
    float: left;
    background-color: salmon;
   
    
}


.section {
    margin: 10px;
    border: 1px solid papayawhip;
}

.clear {
    clear:both;
}

/* Footer */

.footer {
    width: 100%;
    padding: 25px;
    
}